<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="util/header :: header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sistema de Alertas</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:replace="util/sidebar :: sidebar"></ul>
        <!-- Content wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav th:replace="util/topbar :: topbar"></nav>
                <!-- Contenido de la página -->
                <div class="container-fluid mt-4">
                    <!-- Título de la página -->
                    <h1 class="h3 mb-4 text-gray-800">Registrar un aula</h1>
                    <!-- Formulario -->
                    <div class="row">
                        <div class="form-group col-lg-3 col-sm-6">
                            <label for="registroAnio">Año:</label>
                            <select id="registroAnio" class="form-control">
                                <option value="">Seleccione un año</option>
                                <option th:each="anio : ${anios}" th:value="${anio.idAnio}"
                                        th:text="${anio.idAnio}"></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-sm-6">
                            <label for="registroGrado">Grado:</label>
                            <select id="registroGrado" class="form-control">
                                <option value="">Seleccione un grado</option>
                                <option th:each="grado : ${grados}" th:value="${grado.idGrado}"
                                        th:text="${grado.nombre}"></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="registroDocente">Docente:</label>
                            <select id="registroDocente" class="form-control">
                                <option value="">Seleccione un docente</option>
                                <option th:each="docente : ${docentes}" th:value="${docente.nombreUsuario}"
                                        th:text="${docente.nombres} + ' ' + ${docente.apellidos}"></option>
                            </select>
                        </div>
                    </div>
                    <!-- Formulario de búsqueda -->
                    <!-- Lista de alumnos -->
                    <h4 class="my-2">Lista de alumnos registrados</h4>
                    <form id="formBusqueda" class="navbar-search my-3">
                        <div class="input-group">
                            <input type="text" id="inputBusqueda" class="form-control bg-white" aria-label="Buscar" placeholder="Buscar por DNI, nombres o apellidos..."/>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit"><i class="fas fa-search fa-sm"></i></button>
                            </div>
                        </div>
                    </form>
                    <div id="resumenBusqueda" class="mb-3">Espere...</div>
                    <div id="listaBusqueda" class="row"></div>
                    <!-- Paginado -->
                    <nav th:replace="util/pagination :: pagination"></nav>
                    <!-- Botones -->
                    <div class="text-center">
                        <input type="hidden" id="idAula" th:value="${idAula}"/>
                        <button class="btn btn-primary" id="btnGuardar">Guardar</button>
                        <a href="/admin/aulas" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
                <!-- Fin del contenido de la página -->
            </div>
            <!-- Footer -->
            <footer th:replace="util/footer :: footer"></footer>
        </div>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <!-- Scripts de JavaScript -->
    <script src="/js/vendor/sb-admin-2.min.js"></script>
    <script src="/js/vendor/mustache.min.js"></script>
    <script src="/js/utilidades.js"></script>
    <script src="/js/admin/aulas/registro.js"></script>
    <script th:replace="admin/aulas/resultadoAlumno :: template"></script>
</body>
</html>
