<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sistema de Alertas</title>
</head>
<body>
    <nav class="d-none" id="paginationWrapper" aria-label="Paginado de lista de usuarios registrados"
         th:fragment="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="page-link" id="paginaAnterior">
                    <i class="fas fa-arrow-left"></i>
                    <span class="d-sm-inline d-none">Anterior</span>
                </button>
            </li>
            <li class="page-item disabled">
                <span class="page-link">
                    Página <strong id="numPaginado">1</strong> de <strong id="totalPaginado">3</strong>
                </span>
            </li>
            <li class="page-item">
                <button class="page-link" id="paginaSiguiente">
                    <span class="d-sm-inline d-none">Siguiente</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </li>
        </ul>
    </nav>
</body>
</html>
