<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sistema de Alertas</title>
</head>
<body>
    <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registroLabel" aria-hidden="true" th:fragment="registroModal">
        <form class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registroLabel">Crear o editar un usuario</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="registroDni">DNI:</label>
                        <input type="text" id="registroDni" class="form-control" placeholder="DNI del usuario"/>
                    </div>
                    <div class="form-group">
                        <label for="registroNombres">Nombres:</label>
                        <input type="text" id="registroNombres" class="form-control" placeholder="Primer y segundo nombre del usuario"/>
                    </div>
                    <div class="form-group">
                        <label for="registroApellidos">Apellidos:</label>
                        <input type="text" id="registroApellidos" class="form-control" placeholder="Apellido paterno y materno del usuario"/>
                    </div>
                    <div class="form-group">
                        <label for="registroNombreUsuario">Nombre de usuario:</label>
                        <input type="text" id="registroNombreUsuario" class="form-control" placeholder="Nombre de usuario para el inicio de sesión"/>
                    </div>
                    <div class="form-group">
                        <label for="registroTipoUsuario">Tipo de usuario:</label>
                        <select id="registroTipoUsuario" class="form-control">
                            <option value="">Seleccione un tipo de usuario</option>
                            <option value="1">Administrador</option>
                            <option value="2">Docente</option>
                            <option value="3">Padre de familia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="registroContrasenia">Contaseña:</label>
                        <input type="password" id="registroContrasenia" class="form-control" placeholder="Contraseña del usuario"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
