<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sistema de Alertas</title>
</head>
<body>
    <script id="usuarioTemplate" type="text/mustache" th:fragment="template">
        <div class="col-xl-4 col-md-6 col-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div><strong>Nombre de usuario:</strong> <span class="busquedaUserName">{{nombreUsuario}}</span></div>
                    <div><strong>DNI:</strong> <span class="busquedaDni">{{dni}}</span></div>
                    <div><strong>Nombres:</strong> <span class="busquedaNombres">{{nombres}}</span></div>
                    <div><strong>Apellidos:</strong> <span class="busquedaApellidos">{{apellidos}}</span></div>
                    <div><strong>Rol:</strong> <span class="busquedaRol" data-id="{{idRol}}">{{nombreRol}}</span></div>
                    <div class="text-right mt-2">
                        <button class="btn btn-sm btn-info actualizarRegistro" data-toggle="modal" data-target="#registroModal">
                            <i class="fas fa-edit"></i> Editar
                        </button>
                        <button class="btn btn-sm btn-danger eliminarRegistro">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>
