<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sistema de Alertas</title>
</head>
<body>
    <script id="aulaTemplate" type="text/mustache" th:fragment="template">
        <div class="col-xl-6 col-12">
            <div class="card shadow mb-4" data-id="{{idAula}}">
                <div class="card-body">
                    <div><strong>Año de estudios:</strong> {{idAnio}}</div>
                    <div><strong>Grado de estudios:</strong> {{nombreGrado}}</div>
                    <div><strong>Cantidad de alumnos:</strong> {{numAlumnos}}</div>
                    <div class="text-right">
                        <a class="btn btn-sm btn-primary mt-2" href="/aulas/{{idAula}}/asistencia">
                            <i class="fas fa-tasks"></i> Asistencias
                        </a>
                        <a class="btn btn-sm btn-success mt-2" href="/aulas/{{idAula}}/comunicados">
                            <i class="fas fa-comment-alt"></i> Comunicados
                        </a>
                        <a class="btn btn-sm btn-danger mt-2" href="/aulas/{{idAula}}/incidencias">
                            <i class="fas fa-book"></i> Incidencias
                        </a>
                        <a class="btn btn-sm btn-dark mt-2" href="/aulas/{{idAula}}/entrevistas">
                            <i class="fas fa-calendar-check"></i> Entrevistas
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>
